<div id="titleInput">
  <div>
    <div *ngIf="disableTitleAdd">
      <input type="text" placeholder="Input title here" spellcheck="true" [(ngModel)]="query" [(ngModel)]="newTitle">
      <button class="btn btn-primary" (click)="addTitle(); search(); ">Add Title</button>
    </div>
  </div>
  <!--
  <input type="text" [(ngModel)]="query" placeholder="Enter your search query" />
  <button (click)="search()">Search</button> -->

  <div *ngIf="textAreaPresent">
    <textarea type="text" placeholder="Input method here" spellcheck="true" [(ngModel)]="newMethod"></textarea>
    <button class="btn btn-primary" (click)="addMethod()">Add Instructions</button>
  </div>
</div>

<div id="printableDiv">
  <div *ngFor="let image of images">
    <img style="height: 200px; width: 200px;" [src]="image.link" [alt]="image.title" />
  </div>
  <!-- <div *ngIf="imageURL">
    <img style="height: 200px; width: 200px;" id="imgPic" [src]="imageURL" alt="Search Result">
  </div> -->
  <div style="padding-top: 15px;">
    <h2 *ngFor="let title of titleList">{{ title }}</h2>
    <!-- <h4>Ingredient List</h4> -->
    <ul>
      <li *ngFor="let item of recipeItems">{{ item }}</li>
    </ul>
  </div>
  <ul>
    <li style="list-style-type: square;" *ngFor="let method of methodList">{{method}}</li>
  </ul>
</div>
<div id="buttonSection">
  <button class="btn btn-success" (click)="printDiv()">Print</button>
  <button class="btn btn-warning" (click)="clearInput()">Clear</button>
</div>