<div id="titleInput">
  <input type="text" [(ngModel)]="newTitle">
  <button class="btn btn-primary" [disabled]="disableTitleAdd" (click)="addTitle()">Add Title</button>

</div>

<div id="printableDiv">
  <h2 *ngFor="let title of titleList">{{ title }}</h2>
  <h4>Ingredients</h4>
  <ul>
    <li *ngFor="let item of recipeItems">{{ item }}</li>
  </ul>
</div>
<div id="buttonSection">
  <button class="btn btn-primary" (click)="printDiv()">Print</button>
  <button class="btn btn-primary" (click)="clearInput()">Clear</button>
</div>