#titleInput{
  margin-left: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#printableDiv {
  margin-left: 25px;
}

#buttonSection{
  margin-left: 25px;
}

#imgPic {
  height: 250px;
  width: 250px;

}


