<div id="titleInput">
  <div>
    <div *ngIf="disableTitleAdd">
      <input type="text" [(ngModel)]="newTitle">
      <button class="btn btn-primary" (click)="addTitle(); searchImage(); ">Add Title</button>
    </div>
  </div>

  <div *ngIf="textAreaPresent">
    <textarea type="text" [(ngModel)]="newMethod"></textarea>
    <button class="btn btn-primary" (click)="addMethod()">Add Instructions</button>
  </div>
</div>

<div id="printableDiv">
  <div *ngIf="imageURL">
    <img id="imgPic" [src]="imageURL" alt="Search Result">
  </div>
  <h2 *ngFor="let title of titleList">{{ title }}</h2>
  <h4>Ingredient List</h4>
  <ul>
    <li *ngFor="let item of recipeItems">{{ item }}</li>
  </ul>
</div>
<ul>
  <li *ngFor="let method of methodList">{{method}}</li>
</ul>
<div id="buttonSection">
  <button class="btn btn-success" (click)="printDiv()">Print</button>
  <button class="btn btn-warning" (click)="clearInput()">Clear</button>
</div>