#titleInput{
  margin-left: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#printableDiv {
  margin-left: 25px;
  width: 600px;
  height: 200px;
}

#buttonSection{
  margin-left: 25px;
}

#imgPic {
  max-height: 50%;
  max-width: 50%;

}


