<!-- <app-measurements></app-measurements>
<app-spoon-measurments></app-spoon-measurments>
<app-recipe-list></app-recipe-list>

<app-recipe-database></app-recipe-database> -->

<div class="container">
  <div class="component">
    <app-measurements></app-measurements>
  </div>
  <div class="component">
    <app-spoon-measurments></app-spoon-measurments>
  </div>
  <div class="component">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="component">
    <app-recipe-database></app-recipe-database>
  </div>
</div>
