<div class="container" *ngIf="!fetchedRecipe">
  <div class="row">
    <div class="col">
      <ul class="list-group mt-3" *ngFor="let recipe of recipeList">
        <li class="list-group-item">Title: {{ recipe.title }}</li>
        <li class="list-group-item">Ingredients: {{ recipe.ingredients }}</li>
        <li class="list-group-item">Method: {{ recipe.method }}</li>
        <button class="btn btn-danger mt-3" (click)="deleteRecipe(recipe.id)">Delete Recipe</button>
      </ul>
    </div>
  </div>
</div>






<div *ngIf="fetchedRecipe">
  <h2>{{ fetchedRecipe.title }}</h2>
  <p>Ingredients: {{ fetchedRecipe.ingredients }}</p>
  <p>Method: {{ fetchedRecipe.method }}</p>
</div>
<input [(ngModel)]="recipeId" type="number" placeholder="Enter Recipe ID">
<button (click)="getRecipeById()">Get Recipe</button>
