<div id="mainContainer">
  <div>
    <h3 style="font-family: 'Dosis', sans-serif;">Measuring Cups</h3>
    <h3 style="font-family: 'Dosis', sans-serif;">Convert to Grams</h3>
    <h4 style="font-family: 'Dosis', sans-serif;">Select Ingredient</h4>
    <select style="font-family: 'Dosis', sans-serif;" class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example" [(ngModel)]="selectedIngredients">
      <!-- <select [(ngModel)]="selectedIngredients"> -->
      <option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ingredient}}</option>
    </select>
    <h4 style="font-family: 'Dosis', sans-serif;">Select Measurement</h4>
    <select style="font-family: 'Dosis', sans-serif;" class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example" [(ngModel)]="selectedPortion" (change)="hanglePortionSize()">
      <option *ngFor="let portion of portions" [value]="portion">{{portion}}</option>
    </select>

    <hr>
    <button class="btn btn-primary" (click)="handleIngredientsSelection(); addItem()">Convert</button>
    <hr>
    <h1>Eggs: {{ eggCounter }}</h1>
    <button class="btn btn-success" (click)="increment()">+</button>
    <button class="btn btn-danger" (click)="decrement()">-</button>
    <button class="btn btn-warning" (click)=" addEggToList()">Add Eggs to List</button>

  </div>
</div>